<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="UTF-8">
<title>Delete Appointment</title>
<link rel="stylesheet" href="../static/style2.css"
	th:href="@{/style2.css}">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bxl-c-plus-plus'></i> <span class="logo_name">PASS
				App</span>
		</div>
		<ul class="nav-links">
			<li><a href="#" class="active"> <i class='bx bx-grid-alt'></i>
					<span class="links_name">Dashboard</span>
			</a></li>
			<li><a href="#"> <i class='bx bx-box'></i> <span
					class="links_name">Delete </span>
			</a></li>
			<li><a href="#"> <i class='bx bx-list-ul'></i> <span
					class="links_name">Reschedule  </span>
			</a></li>
			<li><a href="#"> <i class='bx bx-pie-chart-alt-2'></i> <span
					class="links_name"> Print Reciept</span>
			</a></li>
			<li><a href="#"> <i class='bx bx-coin-stack'></i> <span
					class="links_name">Specialization</span>
			</a></li>
			<li><a href="#"> <i class='bx bx-book-alt'></i> <span
					class="links_name">Prescriptions</span>
			</a></li>
			<li><a href="#"> <i class='bx bx-user'></i> <span
					class="links_name">Delayed</span>
			</a></li>
			<li><a href="#"> <i class='bx bx-cog'></i> <span
					class="links_name">Setting</span>
			</a></li>
			<li class="log_out"><a href="#"> <i class='bx bx-log-out'></i>
					<span class="links_name">Log out</span>
			</a></li>
		</ul>
	</div>
	<section class="home-section">
		<nav>
			<div class="sidebar-button">
				<i class='bx bx-menu sidebarBtn'></i> <span class="dashboard">Dashboard</span>
			</div>
			<div class="search-box">
				<input type="text" placeholder="Search..."> <i
					class='bx bx-search'></i>
			</div>
			<div class="profile-details">
				<img src="images/profile.jpg" alt=""> <span class="admin_name">Receptionist</span> <i class='bx bx-chevron-down'></i>
			</div>
		</nav>

		<div class="home-content">
			<div class="overview-boxes">
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Users</div>
						<div class="number">40,876</div>
						<div class="indicator"></div>
					</div>

				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Total Doctors</div>
						<div class="number">38,876</div>
						<div class="indicator"></div>
					</div>

				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Fees Received</div>
						<div class="number">$12,876</div>
						<div class="indicator"></div>
					</div>

				</div>
				<div class="box">
					<div class="right-side">
						<div class="box-topic">Fees Pending</div>
						<div class="number">11,086</div>
						<div class="indicator"></div>
					</div>

				</div>
			</div>


<div class="container">
		<div class="col">
			<div class="signup-form">
				<form name="form2" action="javascript:void(0)" onsubmit="onPatRegister()">
					<h2>Delete Appointment</h2>
					<p>Please fill in this form to Delete an appointment!</p>
					<hr>
					
					<label style="color: black">Appointment Id</label><br>
							<div class="form-group">
							<div>
							<input type="number" class="form-control" id="appointmentId" name="problemappointmentId"
								placeholder="ApointmentId" required="required">
							<div id="validationServer03Feedback" class="invalid-feedback">
								Please provide a valid AppointmentID</div>
							</div>
					
                                       
                                        <label style="color: black">Patient's Name</label><br>
					<div class="form-group">
						<div>
							<input type="text" class="form-control" id="patName" name="name"
								placeholder="Name" required="required">
							<div id="validationServer03Feedback" class="invalid-feedback">
								Please provide a valid Name.</div>
						</div>
					
                                        
					
            			
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg">Delete Appointment</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
		</div>
		
		
		
		
				
				
				<div class="top-sales box">
					<div class="title">Doctor Available</div>
					<ul class="top-sales-details">
						<li><a href="#"><img
								src="https://img.icons8.com/office/40/000000/administrator-male--v1.png" />
								<span class="product">Dr Gulati</span> </a> <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
</div></li>
						<li><a href="#"><i class="fa-solid fa-user-tie-hair-long"></i>
								<span class="product">Dr Nidhi</span> </a> <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
</div></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<script>
		let sidebar = document.querySelector(".sidebar");
		let sidebarBtn = document.querySelector(".sidebarBtn");
		sidebarBtn.onclick = function() {
			sidebar.classList.toggle("active");
			if (sidebar.classList.contains("active")) {
				sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
			} else
				sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
		}
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>